## Vivado auxiliary folders.
**/*.runs/**
**/*.cache/**

## Simulation compilation files.
*.sim/**/xsim.dir/**
*.sim/**.sh
**.wdb

## Log and back-up files.
**.bak
**.log
**.jou

## Layout set-up folders.
**/ui/**