## Vivado auxiliary folders.
**/*.runs/**
**/*.cache/**

## Simulation compilation files.
*.sim/**/xsim.dir/**
*.sim/**.sh
**.wdb

## Log and back-up files.
**.bak
**.log
**.jou

## Board XML files
**.bxml

## Layout set-up folders.
**/ui/**

## Block design auxiliary files.
**/bd/**/ip/
**/bd/mref/
